<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>School Dashboard</title>
  {% load static %}
  <link rel="stylesheet" href="{% static 'dashboard/css/main.css' %}">
  <link rel="icon" href="{% static 'dashboard/favicon.ico' %}" />
  <link rel="manifest" href="{% static 'dashboard/manifest.json' %}">
</head>
<body>
  <div id="root"></div>
  <script src="{% static 'dashboard/js/main.js' %}"></script>
</body>
</html>
