  <!-- Footer -->
  <footer class="site-footer bg-dark text-light mt-4">
    <div class="container">
      <div class="row py-4">
        <div class="col-md-4">
          <h4>Subscribe to Newsletter</h4>
          <p>Stay updated with the latest news and events.</p>
          <form>
            <input type="email" class="form-control mb-2" placeholder="Enter your email">
            <button type="submit" class="btn btn-primary w-100">Subscribe</button>
          </form>
        </div>
        <div class="col-md-4">
          <h4>Contact Us</h4>
          <address>
            Arora Basti, Ward No. 11<br>
            Sardulgarh, Punjab, 151507<br>
            Phone: (+91) 99882-14808<br>
            Email: vijaysardulgarh@gmail.com
          </address>
        </div>
        <div class="col-md-4">
          <h4>Quick Links</h4>
          <ul class="list-unstyled">
            <li><a href="https://www.cbseacademic.nic.in/curriculum_2025.html" class="text-light">CBSE Syllabus</a></li>
            <li><a href="#" class="text-light">MIS Portal</a></li>
            <li><a href="#" class="text-light">Avsar Portal</a></li>
            <li><a href="#" class="text-light">Admissions</a></li>
            <li><a href="#" class="text-light">News & Events</a></li>
            <li><a href="#" class="text-light">Contact</a></li>
          </ul>
        </div>
      </div>
      <hr class="bg-light">
      <p class="text-center mb-0">&copy; 2024 SIMS. All rights reserved.</p>
    </div>
  </footer>